.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("/img/1.jpg");
  /* max-width: 100%; */
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("/img/2.jpg");
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("/img/3.jpg");
}
